{% extends 'base.html.twig' %}

{% block title %}IngredientList index{% endblock %}

{% block body %}
    <h1>IngredientList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient_list in ingredient_lists %}
            <tr>
                <td>{{ ingredient_list.id }}</td>
                <td>{{ ingredient_list.name }}</td>
                <td>
                    <a href="{{ path('app_ingredient_list_show', {'id': ingredient_list.id}) }}">show</a>
                    <a href="{{ path('app_ingredient_list_edit', {'id': ingredient_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ingredient_list_new') }}">Create new</a>
{% endblock %}
