{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
    <h1>Recipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CookingTime</th>
                <th>Calories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if recipes|length > 0 %}
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.description }}</td>
                    <td>{{ recipe.cookingTime }}</td>
                    <td>{{ recipe.calories }}</td>
                    <td>
                        <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">show</a>
                        {% if recipe.author.id == app.user.id %}
                            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_recipe_new') }}">Create new</a>
{% endblock %}
