{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>Recipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recipe.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recipe.description }}</td>
            </tr>
            <tr>
                <th>CookingTime</th>
                <td>{{ recipe.cookingTime }}</td>
            </tr>
            <tr>
                <th>Calories</th>
                <td>{{ recipe.calories }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ recipe.author.name }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>ingredient list</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recipe_index') }}">back to list</a>

    {% if recipe.author.id == app.user.id %}
        <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>
         {{ include('recipe/_delete_form.html.twig') }}
    {% endif %}

   
{% endblock %}
